@import "start.scss";

.router-link-active button {
    background-color: #039BE5 !important;
}

.owner {
    background-color: #ef9a9a !important;
}

.router-link-active .owner {
    background-color: #b33939 !important;
}
